<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- main css -->
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
        <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
        <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
        <!-- google fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
        <title>Footer</title>
    </head>
    <body>
        <footer>
            <div class="info">
                <div class="info1">
                    <a href = "#" class="logo">Let's<span>photo</span></a>
                    <p>Nền tảng đặt lịch chụp hình online tiện lợi, kết nối khách hàng với nhiếp ảnh gia chuyên nghiệp!</p>
                </div>
                <div class="info2">
                    <h1>“Your Memories Through Our Lens”</h1>
                    <p>Địa chỉ: Km10 Nguyễn Trãi, Hà Đông, Hà Nội.<br>
                        Điện thoại: (+84) 32 563 8346<br>
                        Gmail: letsphoto2024@gmail.com
                    </p>
                    <div class="icons">
                        <a href="https://www.facebook.com/thannguyen2804"><i class="fa-brands fa-facebook"></i></a>
                        <a href="https://www.instagram.com/than___nguyen/"><i class="fa-brands fa-instagram"></i></a>
                        <a href="https://www.behance.net/thannguyen11"><i class="fa-brands fa-tiktok"></i></a>
                    </div>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright © 2024 by Let'sphoto Team. All Rights Reserved.</p>
            </div>
        </footer>
    </body>
</html>