<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- main css -->
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">
    <title>Navbar</title>
</head>
<body>
    <header>
        <a href = "../../page/home/index.html" class="logo">Let's<span>photo</span></a>
        <ul class="navlist">
            <li><a href="../../page/about us/about.html" id="about">Về Chúng Tôi</a></li>
            <li><a href="../../page/photographers/photographers.html" id="photographers">Nhiếp Ảnh Gia</a></li>
            <li><a href="../../page/shooting type/type.html" id="type">Thể Loại</a></li>
            <li><a href="../../page/book a photoshoot/book.html" id="book">Đặt Lịch</a></li>
            <li><a href="../../page/community/comunity.html" id="community">Cộng Đồng</a></li>
        </ul>
        <div class="fix">
            <select id="language" name="language" class="language">
                <option value="VI">VI</option>
                <option value="ca">ENG</option>
            </select>
            <div class="modeicon">
                <i class="fa-solid fa-moon custom-icon" class="switch" style="color: #000000;"></i>
            </div>
            <a href='../../page/login/login.html' class="signinbtn">Đăng Nhập/Đăng Ký</a>
        </div>
        <div class="bx bx-menu" id="menu-icon"></div>
        <a href="#" id="scroll-up">
            <i class='bx bx-up-arrow-alt'></i>
        </a>
    </header>
    <script src="main.js"></script>
    <script src="https://kit.fontawesome.com/67e96bda58.js" crossorigin="anonymous"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navLinks = document.querySelectorAll('.navlist a');
            navLinks.forEach(link => {
                link.addEventListener('click', function() {
                    navLinks.forEach(link => link.classList.remove('active'));
                    this.classList.add('active');
                });
            });
        });
    </script>
</body>
</html>
