*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SVN-Poppins-Light';
    color: black;
    font-size: 16px;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

@font-face{
    font-family: 'SVN-Beast';
    src: url('../../font/SVN-Beast.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Regular';
    src: url('../../font/SVN-Poppins-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Italic';
    src: url('../../font/SVN-Poppins-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'SVN-Poppins-Light';
    src: url('../../font/SVN-Poppins-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Medium';
    src: url('../../font/SVN-Poppins-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Mediumitalic';
    src: url('../../font/SVN-Poppins-MediumItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

main{
    padding: 0 8%;
}

.blank{
    height: 105px;
}

.photographer-card{
    background: #fff;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* avt, cover, gioithieu */

.cover{
    height: 20vw;
    overflow: hidden;
}

.cover img{
    width: 100%;
    object-fit: cover;
}

.avatar{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-top: -100px;
    border: 4px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    position: relative;
    z-index: 1;
}

.info{
    padding: 20px;
    text-align: center;
    position: relative;
    background: #f8f9fa;
}

.ndgioithieu{
    margin: 0 10vw;
}

h3{
    font-family: 'SVN-Poppins-Regular';
    font-size: 20px;
}

h4{
    font-family: 'SVN-Poppins-Light';
    font-size: 14px;
    color: #6B8E40;
    margin-bottom: 10px;
}

.rate{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-bottom: 5px;
}

.rate i{
    font-size: 18px;
}

.rate h5{
    font-size: 14px;
    margin: 0;
}

.locations{
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: center;
}

.locations button{
    font-family: 'SVN-Poppins-Light';
    font-size: 14px;
    border: 1px solid #96A856;
    padding: 0 7px;
    border-radius: 4px;
    background-color: #FFEAC4;
}

.gioithieubox{
    background-color: #FFEAC4;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gioithieu{
    text-align: center;
}

.gioithieu h4{
    font-family: 'SVN-Poppins-Regular';
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.gioithieu p{
    font-family: 'SVN-Poppins-Light';
    font-size: 14px;
    color: #555;
    margin-bottom: 10px;
}

.gioithieubox a{
    display: flex;
    background: linear-gradient(to right, #6B8E40, #A5BC73);
    color: white;
    width: 100px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'SVN-Poppins-Regular';
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.gioithieubox a:hover{
    background: linear-gradient(to right, #A5BC73 , #6B8E40);
    box-shadow: rgba(0, 0, 0, 0.589) 0px 2px 4px;
    transform: translateX(8px);
}

/* hai tab ảnh và đánh giá */
.tabs{
    display: flex;
    border-bottom: 1px solid #ccc;
}

.tab{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.tab p{
    margin-left: 10px;
}

.tab.active{
    display: flex;
    align-items: center;
    border-bottom: 3px solid #96A856;
}

.tab.active p{
    color: #96A856;
    font-family: 'svn-poppins-medium';
    margin-left: 10px;
}

.tab.active i{
    color: #96A856;
}

.content {
    display: none;
}

.content.active {
    display: block;
}

#photo{
    padding: 20px;
}

.item {
    width: 30%;
    margin: 10px;
}
  
.item img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;
}

/* tab đánh giá */

.user-avatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #fff;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    object-fit: cover;
    margin-right: 20px;
    flex-shrink: 0;
}

.rateitem{
    display: flex;
    margin: 30px;
}

.user h4{
    margin-bottom: 0;
}

.user-rate{
    margin-bottom: 10px;
}
.user h6{
    font-size: 12px;
    font-weight: lighter;
    color: #777;
}

@media (max-width: 1480px){
    .blank{
        height: 95px;
    }
    main{
        padding: 0 2.5%;
    }
}

@media (max-width: 1300px){
    .blank{
        height: 80px;
    }
    .ndgioithieu{
        margin: 0 5vw;
    }
}

@media (max-width: 1060px){
    .item {
        width: 29%;
        margin: 10px;
    }
    .ndgioithieu{
        margin: 0;
    }
}

@media (max-width: 840px){
    .item {
        width: 29%;
        margin: 9px;
    }
    .avatar{
        width: 110px;
        height: 110px;
    }
    .gioithieubox a{
        width: 90px;
        height: 40px;
        font-size: 14px;
    }
    .user p{
        font-size: 14px;
    }
}

@media (max-width: 770px){
    .item {
        width: 28%;
        margin: 9px;
    }
}

@media (max-width: 640px){
    .item {
        width: 28%;
        margin: 7px;
    }
}

@media (max-width: 550px){
    .item {
        width: 27%;
        margin: 6px;
    }
}

@media (max-width: 432px){
    .item {
        width: 40%;
        margin: 7px;
    }
    .gioithieubox a{
        width: 90px;
        height: 38px;
    }
    .user p{
        font-size: 12px;
    }
    h3{
        font-size: 16px;
    }
    h4{
        font-size: 12px;
    }
    .gioithieu p{
        font-size: 12px;
    }
    .locations button{
        font-size: 12px;
    }
    .rate i{
        font-size: 16px;
    }
    
    .rate h5{
        font-size: 12px;
    }
}

@media (max-width: 370px){
    .item {
        width: 38%;
        margin: 6px;
    }
}