*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SVN-Poppins-Light';
    color: black;
    font-size: 16px;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

@font-face{
    font-family: 'SVN-Beast';
    src: url('../../font/SVN-Beast.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Regular';
    src: url('../../font/SVN-Poppins-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Italic';
    src: url('../../font/SVN-Poppins-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'SVN-Poppins-Light';
    src: url('../../font/SVN-Poppins-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Medium';
    src: url('../../font/SVN-Poppins-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Mediumitalic';
    src: url('../../font/SVN-Poppins-MediumItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

main{
    padding: 0 8%;
}

.blank{
    height: 105px;
}

.gioithieu{
    position: relative;
    display: flex;
    margin-top: 20vh;
}

.anhminhhoa{
    position: absolute;
    z-index: -1;
}

.anhminhhoa img{
    width: 35vw;
    left: 0;
}

.tieudegt{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px !important;
    margin-left: 40vw;
}

.letphoto{
    height: 70px;
    position: relative;
    top: 50px;
    left: -30px;
}

.contentgt{
    position: relative;
    z-index: 1;
}

.noidunggt{
    display: flex;
    flex-direction: column;
    padding: 7vh 0;
    background-color: #ffeac464;
    border-radius: 15px;
    margin-left: 32vw;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
}

h1{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Regular';
    font-size: 38px !important;
}

.tieudegt h2{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Italic';
    font-size: 50px !important;
    margin-top: 0 !important;
}

.noidunggt p, .noidunggt a{
    margin-left: 8vw;
}

.noidunggt p{
    padding-top: 35px;
    padding-bottom: 10px;
    margin-right: 4vw;
}

.datlich {
    display: flex;
    margin-top: 20px;
    margin-bottom: 40px;
    background: linear-gradient(to right, #6B8E40, #A5BC73);
    color: white;
    width: 218px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'SVN-Poppins-Regular';
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.589) 0px 2px 4px;
}

.datlich:hover{
    background: linear-gradient(to right, #A5BC73 , #6B8E40);
}

.page2 {
    justify-content: center;
    text-align: center;
    
}
.page2 img{
    background-size: cover;
    width: 300px;
    height: 75px;
}
.image{
    text-align: center;
    margin-top: 50px;
}
.line2 {
    font-family: 'SVN-Poppins-Italic';
    color: #96A856;
}
.page2 h1{
    font-size: 50px !important;
}
.slogan{
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.tieude2{
    position: relative;
    top: 20px;
}

span{
    font-family: 'SVN-Poppins-Medium';
}

.nut{
    display: flex;
    justify-content: center;
    
}
.button1 {
    gap: 100px;
    justify-content: space-between;
    margin-top: 70px;
}
.button1 a{
    width: auto;
    background: linear-gradient(90deg,#6B8E40,#A5BC73);
    color: #ffffff;
    font-weight: 500;
    border: none;
    padding: 15px 20px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 16px;
    transition: all 0.3s ease;
    margin: 50px;
    margin-top: 50px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.button1 a:hover{
    color: #ffffff;
    background: linear-gradient(90deg,#829D62,#C5CEB0);
    border-color: #ffffff;
}

.tamnhin{
    position: relative;
    display: flex;
    margin-top: 20vh;
    margin-bottom: 20vh;
}

.anhminhhoa2{
    position: absolute;
    z-index: -1;
    right: 0;
}

.anhminhhoa2 img{
    width: 35vw;
    right: 0;
}

.tieudegt2{
    display: flex;
    flex-direction: row;
    margin-bottom: 50px !important;
    margin-right: 40vw;
    margin-left: 6vw;
}

.contentgt2{
    position: relative;
    z-index: 1;
}

.noidunggt2{
    display: flex;
    flex-direction: column;
    padding: 6vh 6vw;
    padding-right: 4vw;
    background-color: #ffeac464;
    border-radius: 15px;
    margin-right: 32vw;
    box-shadow: inset 0px 5px 10px rgba(0, 0, 0, 0.1);
}

.tamnhin h1, .hanhtrinh h1{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Regular';
    font-size: 42px !important;
}

.tieudegt2 h2{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Italic';
    font-size: 50px !important;
    margin-top: 0 !important;
}

.noidunggt2 p, .noidunggt a{
    margin-right: 8vw;
}

.noidunggt2 p{
    padding-top: 35px;
    padding-bottom: 10px;
    margin-right: 4vw;
}

@media (max-width: 1480px){
    .blank{
        height: 95px;
    }
    main{
        padding: 0 2.5%;
    }
}

@media (max-width: 1300px){
    .blank{
        height: 80px;
    }
}