*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SVN-Poppins-Light';
    color: black;
    font-size: 16px;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style: none;
}

@font-face{
    font-family: 'SVN-Beast';
    src: url('../../font/SVN-Beast.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Regular';
    src: url('../../font/SVN-Poppins-Regular.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Italic';
    src: url('../../font/SVN-Poppins-Italic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face{
    font-family: 'SVN-Poppins-Light';
    src: url('../../font/SVN-Poppins-Light.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Medium';
    src: url('../../font/SVN-Poppins-Medium.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'SVN-Poppins-Mediumitalic';
    src: url('../../font/SVN-Poppins-MediumItalic.otf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

main{
    padding: 0 8%;
}

.blank{
    height: 105px;
}

/* giới thiệu */

.gioithieu{
    position: relative;
    display: flex;
    margin-top: 20vh;
}

.anhminhhoa{
    position: absolute;
    z-index: 2;
}

.anhminhhoa img{
    width: 35vw;
    left: 0;
}

.contentgt{
    position: relative;
    z-index: 1;
}

.noidunggt{
    display: flex;
    flex-direction: column;
    background-color: #FFEAC4;
    border-radius: 15px;
    margin-left: 27vw;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px;
}

.tieudegt{
    display: flex;
    flex-direction: column;
    margin-left: 40vw;
}

h1{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Mediumitalic';
    font-size: 38px !important;
    margin-bottom: 0 !important;
}

.tieudegt h2{
    color: #96A856 !important;
    font-family: 'SVN-Poppins-Mediumitalic';
    font-size: 50px !important;
    margin-top: 0 !important;
}

.noidunggt p, .noidunggt a{
    margin-left: 13vw;
}

.noidunggt p{
    padding-top: 35px;
    padding-bottom: 10px;
    margin-right: 8vw;
}

.noidunggt a {
    display: flex;
    margin-bottom: 40px;
    background: linear-gradient(to right, #6B8E40, #A5BC73);
    color: white;
    width: 218px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'SVN-Poppins-Regular';
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.noidunggt a:hover{
    background: linear-gradient(to right, #A5BC73 , #6B8E40);
    box-shadow: rgba(0, 0, 0, 0.589) 0px 2px 4px;
    transform: translateX(8px);
}

/* top nhiếp ảnh gia */
.chuyenmuc1{
    margin-top: 25vh;
}

.chuyenmuc1 .tieude{
    text-align: center;
}

.chuyenmuc1 .box1{
    position: relative;
    height: 100%;
    width: 100%;
    align-items: left;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 3rem; 
    margin-top: 30px;
}

.chuyenmuc1 .box1 a{
    text-decoration: none;
}

.chuyenmuc1 .item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #FFEAC4;
}

.profilenag{
    display: flex;
    align-items: center;
    background-color: #FFEAC4;
    padding: 10px;
}

.prinfo{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    width: 100%;
}

.profile{
    display: flex;
}

.profilenag img{
    width: 20%
}

.profilenag h3{
    font-family: 'SVN-Poppins-Medium';
    font-size: 18px;
}

.profilenag h4{
    font-family: 'SVN-Poppins-Light';
    font-size: 14px;
    color: #6B8E40;
}

.profilenag button{
    font-family: 'SVN-Poppins-Light';
    font-size: 14px;
    border: 1px solid #96A856;
    padding: 0 7px;
    border-radius: 4px;
    background-color: transparent;
}

.profilenag .rate{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-bottom: auto;
}

.rate h5{
    font-size: 14px !important;
    margin: 0;
}

.rate i{
    font-size: 18px;
}

/* bài viết mới nhất */

.chuyenmuc2{
    margin-top: 20vh;
}

.chuyenmuc2 .tieude{
    text-align: center;
}

.chuyenmuc2 .box1{
    position: relative;
    height: 100%;
    width: 100%;
    align-items: left;
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    gap: 3rem; 
    margin-top: 30px;
}

.chuyenmuc2 .box1 a{
    text-decoration: none;
}

.chuyenmuc2 .item img{
    display: grid;
    height: auto;
    width: 100%;
}

.chuyenmuc2 .info{
    display: flex;
    margin-top: 10%;
}

.chuyenmuc2 .text{
    width: 90%;
}

.chuyenmuc2 h3{
    font-family: 'SVN-Poppins-Medium';
    font-size: 16px;
    color: #96A856;
    margin-bottom: 2px;
}

.chuyenmuc2 h4{
    font-family: 'SVN-Poppins-Light';
    font-size: 12px !important;
    margin-top: 0;
}

.chuyenmuc2 .arrow{
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    margin-right: 5px;
}

.box1 .text :hover{
    text-decoration: underline;
}

.chuyenmuc2 .xemthem{
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.chuyenmuc2 .xemthem a{
    display: flex;
    background: linear-gradient(to right, #6B8E40, #A5BC73);
    color: white;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'SVN-Poppins-Regular';
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chuyenmuc2 .xemthem a:hover{
    background: linear-gradient(to right, #A5BC73 , #6B8E40);
    box-shadow: rgba(0, 0, 0, 0.589) 0px 2px 4px;
    transform: translateX(8px);
}

/* đăng ký nhận tin */
.chuyenmuc3{
    margin-top: 20vh;
}

.chuyenmuc3 .tieude{
    text-align: center;
}

.chuyenmuc3 .tieude p{
    font-family: 'SVN-Poppins-Italic';
    margin-top: 5px;
}

.chuyenmuc3 form{
    max-width: 70 rem;
    text-align: center;
    margin-top: 50px;
}

.chuyenmuc3 form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* các item sẽ bọc trọn trong container */
}

.chuyenmuc3 form .input-box input,
.chuyenmuc3 form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    background-color: #FFEAC4;
    border-radius: 10px;
    color: black;
    margin: .5rem 0;
    border-style:groove;
    border-color: #96A856;
    border-width: 1px;
}

.chuyenmuc3 form .input-box input{
    width: 49%;
}

.chuyenmuc3 form .dangky{
    display: flex;
    justify-content: center;
}

.chuyenmuc3 form .btn{
    display: flex;
    background: linear-gradient(to right, #6B8E40, #A5BC73);
    color: white;
    width: 200px;
    height: 42px;
    border-radius: 10px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-family: 'SVN-Poppins-Regular';
    margin-top: 10px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.chuyenmuc3 form .btn:hover{
    background: linear-gradient(to right, #A5BC73 , #6B8E40);
    box-shadow: rgba(0, 0, 0, 0.589) 0px 2px 4px;
    transform: translateX(8px);
}

@media (max-width: 1480px){
    .blank{
        height: 95px;
    }
    main{
        padding: 0 2.5%;
    }
    .chuyenmuc1{
        margin-top: 20vh;
    }
}

@media (max-width: 1300px){
    .blank{
        height: 80px;
    }
    .box1{
        gap: 2rem;
    }
    .chuyenmuc1, .chuyenmuc2, .chuyenmuc3{
        margin-top: 15vh;
    }
}

@media (max-width: 1150px){
    h1{
        font-size: 30px !important;
    }
    
    .tieudegt h2{
        font-size: 40px !important;
    }
    .profilenag h3{
        font-size: 16px;
    }
    
    .profilenag h4{
        font-size: 12px;
    }
    .rate h5{
        font-size: 12px !important;
        margin: 0;
    }
    
    .rate i{
        font-size: 16px;
    }
    .profilenag button{
        font-size: 12px;
    }
    .chuyenmuc1, .chuyenmuc2, .chuyenmuc3{
        margin-top: 10vh;
    }
    .chuyenmuc1 .box1, .chuyenmuc2 .box1{
        gap: 2rem;
    }
}

@media (max-width: 840px){

    .chuyenmuc1 .box1{
        grid-template-columns: repeat(2, 1fr); 
        gap: 1rem;
        margin-top: 20px;
    }
    .chuyenmuc2 h3{
        font-size: 14px;
    }
}

@media (max-width: 720px){
    *{
        font-size: 14px;
    }
    h1{
        font-size: 20px !important;
    }
    
    .tieudegt h2{
        font-size: 27px !important;
    }
    .gioithieu{
        flex-direction: column;
    }
    .anhminhhoa{
        position: relative;
        display: flex;
        justify-content: center;
    }
    .anhminhhoa img{
        width: 60vw;
    }
    .noidunggt{
        margin-left: 2.5vw;
        margin-left: 2.5vw;
    }
    .tieudegt{
        margin-top: 3vh;
        margin-left: 0;
        text-align: center;
    }
    .noidunggt p, .noidunggt a{
        margin-left: 7.5vw;
    }
    .noidunggt a {
        margin-bottom: 30px;
        width: 195px;
        height: 40px;
    }
    .gioithieu{
        margin-top: 10vh;
    }
    .chuyenmuc2 .xemthem a{
        width: 218px;
        height: 40px;
    }
    .chuyenmuc3 form .btn{
        width: 180px;
        height: 40px;
    }
}

@media (max-width: 500px){
    .chuyenmuc1 .box1{
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        align-items: center;
    }
    .chuyenmuc1 .box1 .item{
        width: 60vw;
    }
    .chuyenmuc2 .box1{
        grid-template-columns: repeat(2, 1fr); 
        gap: 2rem;
        margin-top: 20px;
    }
}